<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ammarahmed.rnadmob.nativeads"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove"/>
</manifest>
